.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
}

.title-description-container {
    text-align: center;
    width: 100%;
    display: inline-block;
}
.spreadsheet-title, .spreadsheet-description {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.save-button {
    display: inline-block;
    position: absolute;
    right: 1em;
    color: white;
    background-color: #008bf8;
    padding: 1em 2em;
    margin-right: 4.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-button:active {
    transform: scale(0.95);
    background-color: #054f86;
}

.share-options {
    margin-left: 50px;
    float: left;
}

.share-menu {
    margin-left: 82px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.share-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.share-menu ul li {
    padding: 12px 16px;
    cursor: pointer;
}

.share-menu ul li:hover {
    background-color: #f1f1f1;
}

.share-menu ul li:active {
background-color: lightgray;
}

.shareButton {
    float: left;
    padding: 10px 15px;
    background-color: #008bf8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.linkText{
    float: left;
    margin-left: 60px;
}

.qrcode {
    float: left;
    margin-left: 60px;
    margin-bottom: 20px;
    height:130px;
}

.email-share-container{
    margin-left: 100px;
    float: left;
    position: relative;
    width:200px;
}

.email-list{
    margin-left: 100px;
    float: left;
}

.goBack {
    float: left;
    padding: 10px 20px;
    background-color: #008bf8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 4em;
}

.goBack:active {
    transform: scale(0.95);
    background-color: #054f86;
}

.add {
    display: inline-block;
    padding: 5px 7px;
    background-color: #008bf8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.send {
    display: inline-block;
    padding: 5px 7px;
    background-color: #008bf8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    margin-left: 1em;
}