.spreadsheetContainer {
    margin-left: 4em;
    margin-right: 4em;
    overflow-x: auto;
    align-items: flex-start;
}

.table {
    position: relative;
}

.createButton {
    margin-left: 2em;
    margin-top: 2em;
}

.spreadsheetContainer table {
    border: 0.1em solid #000;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.spreadsheetContainer td {
    border: 0.08em solid #888;
    padding: 0.4em;
    height: 1.5em;
    text-align: center;
    min-width: 5em;
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spreadsheetContainer td.editable {
    cursor: text;
}

.spreadsheetContainer tr:nth-child(even) {
    background-color: lightgray;
}

.spreadsheetContainer tr:nth-child(odd) {
    background-color: #eeeeee;
}

.spreadsheetContainer table tr:first-child {
    height: 1.5em;
}


.spreadsheetContainer th {
    border: 0.08em solid #888;
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    min-width: 1.5em;
    float: none;
}

.spreadsheetContainer input[type="number"] {
    padding: 0.5em;
    margin-left: 1em;
    border: 0.08em solid #ccc;
    border-radius: 4px;
}

.label {
    display: inline-block;
    margin-right: 0.5em;
    font-size: 1.5em;
}

.spreadsheet-title {
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em;
}

.spreadsheet-description {
    text-align: center;
    margin: 0;
}

.apply-button button:active {
    transform: scale(0.98);
    opacity: 0.8;
}
