#spreadsheetContainer {
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 4em;
    overflow-x: auto;
}

#spreadsheetContainer {
    display: flex;
    align-items: flex-start;
}

#createButton {
    margin-left: 2em;
    margin-top: 2em;
}

table {
    border: 2px solid #000;
    border-collapse: collapse; /* two cells share one border */
    width: 100%;
    table-layout: auto;
}

td {
    border: 1px solid #888;
    padding: 8px; /* for the cursor to be in the middle*/
    height: 20px;
    text-align: center;
    min-width: 5em; /* min 5em when many columns are created */
    white-space: normal;
}

td.editable {
    cursor: text;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* every second row is grey */
}

table tr:first-child {
    height: 1.5em;
}

table th:first-child {
    width: 1cm;
}

th {
    border: 1px solid #888;
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    min-width: 1.5em;
}