.spreadsheetContainer {
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1em;
    overflow-x: auto;
    display: flex;
    align-items: flex-start;
}

.createButton {
    margin-left: 2em;
    margin-top: 2em;
}

.spreadsheetContainer table {
    border: 2px solid #000;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.spreadsheetContainer td {
    border: 1px solid #888;
    padding: 8px;
    height: 20px;
    text-align: center;
    min-width: 5em;
    white-space: nowrap;
}

.spreadsheetContainer td.editable {
    cursor: text;
}

.spreadsheetContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}

.spreadsheetContainer table tr:first-child {
    height: 1.5em;
}

.spreadsheetContainer table th:first-child {
    width: 1cm;
}

.spreadsheetContainer th {
    border: 1px solid #888;
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    min-width: 1.5em;
}

.spreadsheetContainer input[type="number"] {
    padding: 0.5em;
    margin-left: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.label {
    display: inline-block;
    margin-right: 0.5em;
    font-size: 16px;
}

.spreadsheet-title {
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em;
}

.spreadsheet-description {
    text-align: center;
    margin: 0;
}

.apply-button button:active {
    transform: scale(0.98);
    opacity: 0.8;
}
